ol{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: rgb(236, 240, 102);
    color: aqua;
}

.link{
    text-decoration: none;
    padding: 3px;
    color: aqua;
}

.link:hover{
    color: rgb(28, 5, 207);
    background-color: rgb(234, 241, 241);
    border-radius: 10px;
}